.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


预实现的功能
公共样式统一管理，全局sass的友好引入
公共js统一管理
解决vue脚手架初始化的部分问题
路由形式、接口统一管理
store模块化管理
定义vue前端项目必用的方法
修改好统一的config配置
全局混入/指令的封装